<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1 th:text="${community.title}"></h1>

<table>
    <tr>
        <td>
            <span th:if="${community.updateAt != null}" th:text="'수정 시간: ' + ${#temporals.format(community.updateAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
            <span th:unless="${community.updateAt != null}" th:text="'작성 시간: ' + ${#temporals.format(community.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </td>
    </tr>
    <tr>
        <td th:text="${community.content}"></td>
    </tr>
    <tr>
        <td>
            <div th:each="image : ${community.media}"
                 th:if="${image.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).SCREENSHOT}">
                <img th:src="@{/main/resources/media/community/images/__${image.storageName}__}" width="300" height="300" style="margin-right: 5px"/>
            </div>
            <div th:each="vid : ${community.media}"
                 th:if="${vid.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).VIDEO}">
                <video th:src="@{/main/resources/media/community/vids/__${vid.storageName}__}" width="300" height="300" style="margin-right: 5px" controls></video>
            </div>
        </td>
        <td>
            <div th:each="image : ${community.media}" th:if="${image.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).SCREENSHOT}">
                <a th:href="@{/media/__${image.storageName}__}", originName=${originName}, communityId=${communityId}" download>Download</a>
            </div>
            <div th:each="vid : ${community.media}" th:if="${vid.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).VIDEO}">
                <a th:href="@{/media/__${vid.storageName}__}", originName=${originName}, communityId=${communityId}" download>Download</a>
            </div>
        </td>
    </tr>
</table>

<a th:href="@{/community/edit/{communityId}(communityId = ${community.id})}">Edit Post</a>
</body>
</html>