<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Game</title>
</head>
<body>
<h1>Add Game</h1>

<form action="/products/add" method="post" th:object="${game}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required><br><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:field="*{price}" required><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:field="*{description}" required></textarea><br><br>

    <label for="tag">Tags:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" id="tag" name="selectedTags" th:value="${tag.id}" th:text="${tag.name}"/>
    </div>
    <label for="releaseDate">Release Date:</label>
    <input type="date" id="releaseDate" name="releaseDate" th:field="*{releaseDate}" required/>

    <label for="media">Upload Image/Video:</label>
    <input type="file" id="media" name="files" accept="image/*, video/*" multiple><br><br>

    <button type="submit">Add Game</button>
</form>
</body>
</html>