<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Game</title>
</head>
<body>
<h1>Edit Game</h1>

<form th:action="@{/products/edit/{gameId}(gameId=${game.id})}" method="post" th:object="${game}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="*{title}" required><br><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:value="*{price}" required><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:value="*{description}" required></textarea><br><br>

    <label for="tag">Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" id="tag" name="tagIds" th:value="${tag.id}"
               th:checked="${#lists.contains(gameTagIds, tag.id.toString())}" required/>
        <label th:for="${'tag-' + tag.id}" th:text="${tag.name}"></label><br>
    </div><br>

    <div th:if="${#lists.size(game.media) > 0}">
        <h3>Media</h3>
        <div th:each="vid : ${game.media}"
             th:if="${vid.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).VIDEO}">
            <iframe th:src="@{/main/resources/media/app/vids/__${vid.storageName}__}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        </div>
        <div th:each="image : ${game.media}"
             th:if="${image.mediaType == T(com.neurotoxin.steamclone.entity.single.MediaType).SCREENSHOT}">
            <img th:src="@{/main/resources/media/app/images/__${image.storageName}__}" width="300" height="200">
        </div>
    </div>

    <h3>Photos:</h3>


    <button type="submit">Update</button>

</form>

<br>

<a th:href="@{/products/delete/{gameId}(gameId=${game.id})}">Delete Game</a>
</body>
</html>
