<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag List</title>
</head>
<body>
<h2>Tag List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag.id}"></td>
        <td th:text="${tag.name}"></td>
        <td>
            <a th:href="@{/tags/edit/{tagId}(tagId=${tag.id})}">Edit Tag</a>
        </td>

    </tr>
    </tbody>
</table>
<a href="/tags/add">Add Tag</a>
</body>
</html>