<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Join</title>
</head>
<body>
<h1>Admin Join</h1>
<form action="/join/admin" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <label for="loginName">LoginName:</label>
    <input type="text" id="loginName" name="loginName" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="phoneNumber">PhoneNumber:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="(-)를 포함하여 입력해주세요." required>
    <button type="submit">Join As Admin</button>
</form>
</body>
</html>