<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Member</title>
</head>
<body>
<h1>Delete Member</h1>
<p>Are you sure you want to delete member: <strong th:text="${member.nickName}"></strong>?</p>
<form action="#" th:action="@{/account/leave/{loginName}(loginName=${member.loginName})}" method="post">
    <button type="submit">Delete</button>
</form>
<a th:href="@{/account/{loginName}(loginName=${member.loginName})}">Back to Account Page</a>
</body>
</html>