<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Join</title>
</head>
<body>
<h1>User Join</h1>
<form action="/join" method="post" th:object="${member}">
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email" name="email" required>
    <label for="loginName">LoginName:</label>
    <input type="text" th:field="*{loginName}" id="loginName" name="loginName" required>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" name="password" required>
    <label for="phoneNumber">PhoneNumber:</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="(-)를 포함하여 입력해주세요." required>
    <button type="submit">Join</button>
</form>
<p>If you already have an account, <a href="/login">Log In</a></p>
</body>
</html>