<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Steam Clone</title>
    <style>
        /* 스타일링 예시 */
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        .navbar .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="navbar">
    <h1 href="/">Steam Clone</h1>
    <span th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:text="${member.nickName}" style="font-size: x-large"></a>
        <a th:href="@{/account/{loginName}(loginName=${member.loginName})}"><strong>마이페이지</strong></a>
        <a href="/logout"><strong>로그아웃</strong></a>
    </span>
    <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a href="/login"><strong>로그인</strong></a>
    </span>
    <a href="/admin"><strong>Admin Page</strong></a>
</div>

<p>*개발중: 현재 구현이 완료된 기능만 여기에 표시됩니다.</p>
<p>어드민 계정은 모든 기능을 이용할 수 있습니다. 개발단계에서는 되도록이면 어드민 계정을 생성하여 테스트하세요.</p>
<div>
    <h2>게임 관련</h2>
    <ul>
        <li><a href="/products/list">게임 전체 목록</a></li>
        <li><a href="/products/add">게임 등록(개발자/어드민 계정만 사용가능합니다)</a></li>
    </ul>
</div>
<div>
    <h2>커뮤니티/유저 관련</h2>
    <ul>
        <li><a href="/search/member">유저 검색</a></li>
    </ul>
</div>
<div>
    <h2>태그 관련</h2>
    <ul>
        <li><a href="/tags/add">태그 등록(어드민 계정만 사용가능합니다)</a></li>
        <li><a href="/tags/list">태그 목록(어드민 계정만 사용가능합니다)</a></li>
    </ul>
</div>
</body>
</html>